name: build-macos-latest

on:
  push:
    paths:
      - 'src/**'
      - 'include/**'
      - '.github/workflows/build_macos.yml'

jobs:
  build-osx:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: build
        run: bash ./third_party/openFrameworks/scripts/osx/download_libs.sh && make
